doctype
html
	head
		meta(charset='UTF-8')
		title #{title}
		link(rel='stylesheet', href='/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
	body(style="text-align:center")
		div#header
			|#{username}
		div#button-container
			div.button(onclick="location.href='/try-logout';")
				|Logout