doctype
html
	head
		meta(charset='UTF-8')
		title #{title}
		link(rel='stylesheet', href='/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
	body
		div#header
			div#left
				div#home(onclick="location.href='/';")
					|Home
			div#right
				if session
					div#session(onclick="location.href='/dashboard';")
						|#{session}
		table.h-center.v-center
			tr.table-header
				td Scorer 
				td Assister
			for goal in goals
				tr
					td= goal.scorer.name
					td= goal.assister.name