doctype
html
	head
		meta(charset='UTF-8')
		title #{title}
		link(rel='stylesheet', href='/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
	body
		table
			tr 
				th Scorer 
				th Assister
			for goal in goals
				tr
					td= goal.scorer
					td= goal.assister