doctype
html
	head
		meta(charset='UTF-8')
		title #{title}
		link(rel='stylesheet', href='/final.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,300')
		script.
			if (document.location.hostname !== "localhost") {
				var loc = window.location+'';
				if (loc.indexOf('http://')==0) {
					window.location.href = loc.replace('http://','https://');
				}
			}
	body
		div#header
			div#left
				div#login(onclick="location.href='/login';")
					|Log In
				div#register(onclick="location.href='/register';")
					|Register
			div#right
				if session
					div#session(onclick="location.href='/dashboard';")
						|#{session}

		div#focus-container.h-center
			div.focus(onclick="location.href='/games';")
				|Games
			div.focus(onclick="location.href='/players';")
				|Players
			div.focus(onclick="location.href='/teams';")
				|Teams