doctype
html
	head
		meta(charset='UTF-8')
		title #{title}
		link(rel='stylesheet', href='/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		script.
			if (document.location.hostname !== "localhost") {
				var loc = window.location+'';
				if (loc.indexOf('http://')==0) {
					window.location.href = loc.replace('http://','https://');
				}
			}
	body(style="text-align:center")
		div#button-container
			div.button(onclick="location.href='/login';")
				|Login
			div.button(onclick="location.href='/register';")
				|Register