doctype
html
	head
		meta(charset='UTF-8')
		title #{title}
		link(rel='stylesheet', href='/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
	body
		div#logincontainer
			div#loginform
				form(method='post', action='/try-login')
					input.loginField(type='text', placeholder='Username', name='data[name]')
					input.loginField(type='password', placeholder='Password', name='data[password]')
					input#submit.none(type='submit', value='Login')




