doctype
html
	head
		meta(charset='UTF-8')
		title #{title}
		link(rel='stylesheet', href='/final.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
	body
		div#header
			div#left
				div#home(onclick="location.href='/';")
					|Home
			div#right
				if session
					div#session(onclick="location.href='/dashboard';")
						|#{session}
				else
					div#login(onclick="location.href='/login';")
						|Log In
					div#register(onclick="location.href='/register';")
						|Register

						form(method='get', action='')

		input#queryField(type='text', placeholder='Query')
		input#submit(type='button', value='Query', onclick='getPlayers();')

		table.h-center
			thead
				tr(class='table-header')
					th(id='nameHeader', onclick='sortBy("name");')
						|Name
					th(id='activeHeader', onclick='sortBy("active");')
						|Active
					th(id='gpHeader', onclick='sortBy("gamesPlayed");')
						|Games Played
					th(id='goalsHeader', onclick='sortBy("goals");')
						|Goals
					th(id='assistsHeader', onclick='sortBy("assists");')
						|Assists
			tbody

		script.

			var currentSort = "";

			if (!String.prototype.format) {
				String.prototype.format = function() {
					var args = arguments;
					return this.replace(/{(\d+)}/g, function(match, number) { 
						return typeof args[number] != 'undefined' ? args[number] : match;
					});
				};
			}

			function sortBy(sort) {
				console.log("Current: " + currentSort);
				console.log("Requested: " + sort);
				var reverseSort = "-" + sort;
				if (currentSort === sort) {
					currentSort = reverseSort;
					getPlayers(reverseSort);
				} else if (currentSort === reverseSort) {
					currentSort = sort;
					getPlayers(sort);
				} else {
					currentSort = sort;
					getPlayers(sort);
				}
			}

			function getPlayers(sort) {
				var query = $( '#queryField' ).val();
				if (query === "") { query = "{}" };
				$.ajax({
					url: '/query-players',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify({"query": JSON.parse(query), "sort": sort})
				}).done(function(data) {
					if (!data) {
						console.log("Query failed");
					} else {
						buildTable(data);
					}
				});
			}

			function buildTable(data) {
				$( 'tbody' ).empty();
				data.forEach(function(d) {
					insertRow(d);
				});
			}

			function insertRow(d) {
				$( 'tbody' ).prepend(buildRow(d));
			}

			function buildRow(d) {
				return "<tr><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td></tr>".format(d.name, d.active, d.gamesPlayed, d.goals, d.assists);
			}

			getPlayers("");