doctype
html
	head
		meta(charset='UTF-8')
		title #{title}
		link(rel='stylesheet', href='/final.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
	body
		div#header
			div#left
				div#home(onclick="location.href='/';")
					|Home
			div#right
				if session
					div#session(onclick="location.href='/dashboard';")
						|#{session}
				else
					div#login(onclick="location.href='/login';")
						|Log In
					div#register(onclick="location.href='/register';")
						|Register

						form(method='get', action='')

		input#queryField.loginField(type='text', placeholder='Query')
		input#sortField.loginField(type='text', placeholder='Sort')
		input#submit.none(type='button', value='Query', onclick='getPlayers();')

		table.h-center

		script.
			if (!String.prototype.format) {
				String.prototype.format = function() {
					var args = arguments;
					return this.replace(/{(\d+)}/g, function(match, number) { 
						return typeof args[number] != 'undefined'
							? args[number]
							: match
						;
					});
				};
			}
			function getPlayers() {
				var query = $( '#queryField' ).val();
				if (query === "") { query = "{}" };
				var sort = $( '#sortField' ).val();
				$.ajax({
					url: '/query-players',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify({"query": JSON.parse(query), "sort": sort})
				}).done(function(data) {
					if (!data) {
						console.log("Query failed");
					} else {
						buildTable(data);
					}
				});
			}

			function buildTable(data) {
				$( 'table' ).empty();
				insertHeader();
				data.forEach(function(d) {
					insertRow(d);
				});
			}

			function insertHeader() {
				$( 'table' ).append("<tr class='table-header'><td>Name</td><td>Active</td><td>Games Played</td><td>Goals</td><td>Assists</td></tr>");
			}

			function insertRow(d) {
				$( 'table tr:first' ).after(buildRow(d));
			}

			function buildRow(d) {
				return "<tr><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td></tr>".format(d.name, d.active, d.gamesPlayed, d.goals, d.assists);
			}

			getPlayers();