doctype
html
	head
		meta(charset='UTF-8')
		title #{title}
		link(rel='stylesheet', href='/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
	body
		table.h-center.v-center
			tr.table-header
				td Name 
				td Active
				td Games Played
			for player in players
				tr
					td= player.name
					td= player.active
					td= player.gamesPlayed