doctype
html
	head
		meta(charset='UTF-8')
		title #{title}
		link(rel='stylesheet', href='/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		script(type='text/javascript', src='/zxcvbn-async.js')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
	body
		div#logincontainer
			div#loginform
				form(method='get', action='')
					input#userField.loginField(type='text', placeholder='Username')
					input#passField.loginField(type='password', placeholder='Password')
					input#submit.none(type='button', value='Register', onclick='tryRegister();')
		script.
			$('#passField').on('input', function() { 
				var val = $(this).val();
				var score = zxcvbn(val).score;
				var strengthClass = "none"
				if (val !== "") {
					switch(score) {
						case 0:
							strengthClass = "weak";
							break;
						case 1:
							strengthClass = "medium";
							break;
						case 2:
							strengthClass = "medium";
							break;
						case 3:
							strengthClass = "strong";
							break;
						case 4:
							strengthClass = "strong";
							break;
						default:
							strengthClass = "none";
					}
				}
				$('#submit').attr('class', strengthClass);
			});

			function tryRegister() {
				var name = $('#userField').val();
				var password = $('#passField').val();
				$.ajax({
					url: '/try-register',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify( {name: name, password: password} )
				}).done(function(data) {
					console.log(data);
				});
			}



