doctype
html
	head
		meta(charset='UTF-8')
		title #{title}
		link(rel='stylesheet', href='/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
	body
		table.h-center.v-center
			tr.table-header
				td Name 
				td Roster
			for team in teams
				tr
					td= team.name
					td= team.roster