* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	min-height: 100%;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	color: #000;
	background-color:#C0C0C0;
}

.h-center {
	margin: auto;
}

.v-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.hidden {
	visibility: hidden;
}

#header {
	height: 6vh;
	min-height: 3rem;
	background-color: #006A4E;
    box-shadow: 0px 2px 5px #888;
    display:flex;
	justify-content: space-between;
}

#left {
	display:flex;
	justify-content: flex-start;
}

#right {
	display:flex;
	justify-content: flex-end;
}

#login, #register, #session, #home {
	width: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#login:hover, #register:hover, #session:hover, #home:hover {
	color: #FFF;
}

#focus-container {
    position: relative;
    top: 25vmin;
    width: 90vmin;
    display: flex;
    justify-content: space-between;
}

.focus {
	height: 25vmin;
	min-height: 8rem;
	width: 25vmin;
	min-width: 8rem;
    background-color: #006A4E;
    display: flex;
    flex-direction: column;
	justify-content: center;
    box-shadow: 2px 2px 5px #888;
}

.focus:hover {
	color: #FFF;
}

table {
	position: relative;
	top: 10vmin;
	border-collapse: collapse;
}

td {
	border: 2px solid #006A4E;
	padding: 0.5em;
}

.table-header {
	font-size: 16;
	background-color: #D0D0D0;
}