* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	min-height: 100%;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	color: #000;
	background-color:#C0C0C0;
}

.center-contents {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.fill {
	width: 100%;
	height: 100%;
}

.hover:hover {
	background-color: #FFFFFF;
}

.border {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #C0C0C0;
}

#content {
	position: relative;
	top: 15vh;
	height: 70vh;
	width: 60vw;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #F0F0F0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#session-info {
	height: 70vh;
	width: 20vw;
}

#form-container {
	position: relative;
	top: 10%;
	height: 80%;
	width: 80%;
	margin: auto;
}

#form-response {
	margin-bottom: 10px
}

#fields {
	margin-bottom: 16px;
}

.field {
	margin: 10px;
	margin-top: 0px;
	text-align: center;
	border: none;
	border-bottom: 1px solid #A0A0A0;
	background-color: #F0F0F0;
	padding: 4px;
}

#buttons {
	diplay: block;
	width: 100%;
}

.button {
	display: inline-block;
	position: relative;
	margin: 2px;
	width: 35%;
	height: 20px;
	line-height: 20px;
	border: 0px;
	background-color: #4285f4;
	color: #FFFFFF;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#login {
	float: left;
	margin-left: 12%;
}

#register {
	float: right;
	margin-right: 12%;
}

#nav {
	height: 70vh;
	width: 40vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#first, #second, #third, #last {
	width: 50%;
	height: 50%;
}

@media screen and (orientation:portrait) {
	#content {
		height: 140vh;
	}
	#session-info {
		width: 100%;
	}
	#nav {
		width: 100%;
	}
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

:focus {
  outline-color: transparent;
  outline-style: none;
}
